.container {
  display: 'flex';
  padding: 2rem;
}

.header {
  margin-bottom: 1rem;
}
header > h1 {
  font-size: 3rem;
}

.title {
  text-align: center;

  color: transparent;
  -webkit-text-stroke: 1px var(--text-color);
}

.kanban-board {
  display: flex;
  gap: 0.5rem;

  width: 100%;
}

.board-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  flex: 1;

  padding: 1rem;

  border: 3px solid;
  border-radius: 1rem;
}

#open-column {
  background-color: var(--open-column-background);
  border-color: var(--open-column-border);
}

#in-progress-column {
  background-color: var(--in-progress-column-background);
  border-color: var(--in-progress-column-border);
}

#done-column {
  background-color: var(--done-column-background);
  border-color: var(--done-column-border);
}

.open-hr {
  border: 1px solid var(--open-column-border);
}

.in-progress-hr {
  border: 1px solid var(--in-progress-column-border);
}

.done-hr {
  border: 1px solid var(--done-column-border);
}
