.task-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.task {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.add-task-button {
  padding: 0.25rem 0.5rem;
  background: transparent;

  border: 1px solid var(--button-border);
  border-radius: 1rem;
  outline: none;

  white-space: nowrap;

  cursor: pointer;
}
